/** MOBILE VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  // FIRST SECTION - CLASS: ABOUT //
  section.about {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4];
    margin-top: 2vh;

    // IMAGE OF BEEKEEPERS //
    img {
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-1;
      width: 60vw;
      height: auto;
      clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPE
      justify-self: center;
    }

    h2 {
      grid-column: line-0 / line-1;
      grid-row: row-1 / row-2;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h3 {
      grid-column: line-0 / line-1;
      grid-row: row-3 / row-4;
      text-align: center;
      margin: 0;
    }

    p {
      grid-column: line-0 / line-1;
      grid-row: row-2 / row-3;
      text-align: center;
      padding: 0vh 15vw;
    }
  }

  // SECOND SECTION - CLASS: GALLERY //
  section.gallery {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto [row-8];

    h2 {
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-1;
      text-align: center;
    }

    // IMAGES CONTAINED WITHIN THE GALLERY ON MOBILE SITE //
    // POSITIONED CENTRALLY //
    img {
      grid-column: line-0 / line-1;
      width: 60vw;
      height: auto;
      margin: 2vh 0vw;
      clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPE
      justify-self: center;

      &:nth-of-type(1) { // FIRST IMAGE IN GALLERY //
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) { // SECOND IMAGE IN GALLERY //
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(3) { // THIRD IMAGE IN GALLERY //
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(4) { // FOURTH IMAGE IN GALLERY //
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(5) { // FIFTH IMAGE IN GALLERY //
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(6) { // SIXTH IMAGE IN GALLERY //
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(7) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }

      &:nth-of-type(8) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }

      &:nth-of-type(9) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }
    }
  }
}

/** DESKTOP VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  // FIRST SECTION - CLASS: ABOUT //
  section.about {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]12vw [line-2]35vw [line-3]13vw [line-4];
    grid-template-rows: [row-1]15vh [row-2]auto [row-3]auto [row-4];
    margin-top: 10vh;

    h2 {
      grid-column: line-1 / line-3;
      grid-row: row-1 / row-2;
      text-align: right;
      padding: 0;
      align-self: end;
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-3 / row-4;
      text-align: right;
      align-self: end;

      // CLICKABLE LINK FOR 'MEET THE TEAM' //
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }

    // IMAGE OF BEEKEEPERS //
    img {
      clip-path: polygon(20% 0, 60% 0, 100% 50%, 60% 100%, 20% 100%, 0 80%, 0 20%); //HONEYCOMB SHAPE //
      height: 65vh;
      width: 50vw;
      justify-self: start;
      grid-column: line-0 / line-2;
      grid-row: row-1 / row-4;
      z-index: -1;
    }

    p {
      grid-column: line-2 / line-3;
      grid-row: row-2 / row-3;
      text-align: right;
      align-self: start;
      font-size: 18px;
    }
  }

  // SECOND SECTION - CLASS: GALLERY //
  section.gallery {
    // CSS GRID - 3x3 GRID - 9 IMAGES IN TOTAL //
    display: grid;
    grid-template-columns: [line-1]20vw [line-2]20vw [line-3]20vw [line-5];
    grid-template-rows: [row-0]auto [row-1]25vh [row-2]25vh [row-3]25vh [row-4]25vh [row-5];
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
    justify-content: center;
    margin-top: 10vh;

    h2 {
      grid-column: line-1 / line-5;
      grid-row: row-0 / row-1;
      text-align: center;
    }

    // STYLING FOR ALL IMAGES WITHIN THE GALLERY OF THE ABOUT US PAGE //
    img {
      height: 100%;
      width: 100%;
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      object-fit: cover;
    }
  }
}
