/** MOBILE VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  // FIRST SECTION - CLASS: CONTACT //
  section.contact {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6];

    // STRUCTURE OF OPENING TIMES ELEMENT //
    div.open {
      grid-column: line-0 / line-1;
      grid-row: row-1 / row-3;
      height: 60vw;
      width: 60vw;
      justify-self: center;
      margin-bottom: 2vh;
      clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0); // HONEYCOMB SHAPE //
      z-index: -1;
    }

    // STRUCTURE OF LOCATION ELEMENT //
    div.location {
      grid-column: line-0 / line-1;
      grid-row: row-3 / row-5;
      height: 60vw;
      width: 60vw;
      justify-self: center;
      margin-bottom: 2vh;
      clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0); // HONEYCOMB SHAPE //
      z-index: -1;
    }

    h2 {
      text-align: center;
      grid-column: line-0 / line-1;

      &:nth-of-type(1) {
        grid-row: row-0 / row-1;
      }

      &:nth-of-type(2) { // HEADING FITS IN HONEYCOMB HEXAGON SHAPE DIV //
        grid-row: row-1 / row-2;
        padding: 0;
        place-self: center;
      }

      &:nth-of-type(3) { // HEADING FITS IN HONEYCOMB HEXAGON SHAPE DIV //
        grid-row: row-3 / row-4;
        padding: 0;
        place-self: center;
      }
    }

    // BOTH PARAGRAPHS FIT IN HONEYCOMB HEXAGON SHAPE UNDERNEATH HEADINGS //
    p {
      text-align: center;
      grid-column: line-0 / line-1;

      &:nth-of-type(1) {
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5;
      }
    }

    // FORM LOCATED ON CONTACT US PAGE //
    form {
      grid-column: line-0 / line-1;
      grid-row: row-5 / row-6;
      justify-self: center;
      text-align: center;

      // TEXT ABOVE INPUT FIELDS //
      label {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 26px;
        font-weight: bold;
        padding: 2vh 0vw 0.5vh 0vw;
      }

      // INPUT FIELDS //
      input[type=text] {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 20px;
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 5px solid orange;
        border-radius: 4px;
        box-sizing: border-box;
      }

      // SUBMIT BUTTON //
      input[type=submit] {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 22px;
        font-weight: bold;
        width: 80%;
        background-color: orange;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

/** DESKTOP VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  // FIRST SECTION - CLASS: CONTACT //
  section.contact {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]10vw [line-2]25vw [line-3];
    grid-template-rows: [row-1]auto [row-2]auto [row-3]5vh [row-4]auto [row-5]auto [row-6];
    justify-content: center;

    h2 {
      text-align: center;
      margin: 0;
      padding: 1vh 0 0 0;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-1 / row-2;
        align-self: center;
      }

      &:nth-of-type(2) { // HEADINGS FIT IN RESPECTIVE HONEYCOMB SHAPES //
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(3) { // HEADINGS FIT IN RESPECTIVE HONEYCOMB SHAPES //
        grid-column: line-2 / line-3;
        grid-row: row-4 / row-5;
      }
    }

    // PARAGRAPHS LOCATED WITHIN HONEYCOMB HEXAGON SHAPES BELOW HEADINGS //
    p {
      text-align: center;
      font-size: 20px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-5 / row-6;
      }
    }

    // STRUCTURE OF OPENING TIMES ELEMENT //
    div.open {
      clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0); // HONEYCOMB SHAPE //
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-3;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    // STRUCTURE OF LOCATION ELEMENT //
    div.location {
      clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0); // HONEYCOMB SHAPE //
      grid-column: line-2 / line-3;
      grid-row: row-4 / row-6;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    // FORM LOCATED ON CONTACT US PAGE //
    form {
      grid-column: line-0 / line-1;
      grid-row: row-2 / row-6;

      // TEXT ABOVE INPUT FIELDS //
      label {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 26px;
        font-weight: bold;
        padding: 2vh 0;
      }

      // INPUT FIELDS //
      input[type=text] {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 20px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 5px solid orange;
        border-radius: 4px;
        box-sizing: border-box;
      }

      // SUBMIT BUTTON //
      input[type=submit] {
        font-family: $para-font; // LINK TO VARIABLE FONTS //
        font-size: 22px;
        font-weight: bold;
        width: 100%;
        background-color: orange;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
