/** MOBILE VERSION OF EVENTS PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  // FIRST SECTION - CLASS: EVENTS //
  section.events {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto [row-8]auto [row-9];

    // SAME SPECIFICATION FOR EACH IMAGE WITHIN THE SECTIONS //
    img {
      width: 60vw;
      height: 60vw;
      justify-self: center;
      grid-column: line-0 / line-1;
      clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
      object-fit: cover;

      // DIFFERENT ROW LOCATION FOR EACH OF THE THREE IMAGES //
      // LINKED WITH RESPECTIVE HEADING/PARAGRAPH //
      &:nth-of-type(1) {
        grid-row: row-0 / row-1;
      }

      &:nth-of-type(2) {
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(3) {
        grid-row: row-6 / row-7;
      }
    }

    // HEADINGS FOR DIFFERENT EVENTS //
    // LINKED WITH RESPECTIVE IMAGE/PARAGRAPH //
    h3 {
      text-align: center;
      grid-column: line-0 / line-1;

      &:nth-of-type(1) {
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(3) {
        grid-row: row-7 / row-8;
      }
    }

    // PARAGRAPHS FOR DESCRIPTION OF DIFFERENT EVENTS //
    // LINKED WITH RESPECTIVE IMAGE/HEADING //
    p {
      text-align: center;
      grid-column: line-0 / line-1;
      margin-top: 0;
      padding: 0vh 15vw;

      &:nth-of-type(1) {
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(3) {
        grid-row: row-8 / row-9;
      }
    }
  }
}

/** DESKTOP VERSION OF EVENTS PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  // FIRST SECTION - CLASS: EVENTS //
  section.events {
    display: grid;
    grid-template-columns: [line-1]30vw [line-2]8vw [line-3]30vw [line-4];
    grid-template-rows: [row-1]auto [row-2]auto [row-3]10vh [row-4]auto [row-5]auto [row-6]10vh [row-7]auto [row-8]auto [row-9];
    justify-content: center;
    margin-top: 10vh;

    // ZOOM IN IMAGE TO PRESERVE QUALITY //
    // LINKED WITH RESPECTIVE HEADING/PARAGRAPH //
    img {
      object-fit: cover;

      &:nth-of-type(1) { // IMAGE ONE WITHIN EVENTS SECTION //
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-3;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPE //
        width: 28vw;
        height: 40vh;
      }

      &:nth-of-type(2) { // IMAGE TWO WITHIN EVENTS SECTION //
        grid-column: line-3 / line-4;
        grid-row: row-4 / row-6;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPE //
        width: 28vw;
        height: 40vh;
      }

      &:nth-of-type(3) { // IMAGE THREE WITHIN EVENTS SECTION //
        grid-column: line-1 / line-2;
        grid-row: row-7 / row-9;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPE //
        width: 28vw;
        height: 40vh;
      }
    }

    // HEADINGS FOR EACH DIFFERENT EVENT //
    // LINKED WITH RESPECTIVE IMAGE/PARAGRAPH //
    h3 {
      align-self: end;

      &:nth-of-type(1) {
        grid-column: line-3 / line-4;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-4 / row-5;
        text-align: right;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-7 / row-8;
      }
    }

    // PARAGRAPHS TO DESCRIBE EACH DIFFERENT EVENT //
    // LINKED WITH RESPECTIVE IMAGE/HEADING //
    p {
      &:nth-of-type(1) {
        grid-column: line-3 / line-4;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-5 / row-6;
        text-align: right;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-8 / row-9;
      }
    }
  }
}
