h1 {
  font-size: 60px;
  font-family: $heading-font; // LINK TO VARIABLE FONT //
}

h2 {
  padding-top: 8vh;
  font-size: 40px;
  margin: 0;
  font-family: $heading-font; // LINK TO VARIABLE FONT //
}

h3 {
  font-family: $heading-font; // LINK TO VARIABLE FONT //
  font-size: 28px;
  margin: 0;
}

h4 {
  font-family: $heading-font; // LINK TO VARIABLE FONT //
}

p {
  font-family: $para-font; // LINK TO VARIABLE FONT //
}
