/** DESKTOP VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH IS MINIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  footer {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];

    // HEADINGS ALL CENTRALISED ON MOBILE SITE IN FOOTER //
    h4 {
      text-align: center;
      grid-column: line-0 / line-1;
      margin: 0;
      padding: 2vh 0vw 0.5vh 0vw;
    }

    // TEXT ALL CENTRALISED ON MOBILE SITE IN FOOTER //
    p {
      text-align: center;
      grid-column: line-0 / line-1;
      margin: 0;
      padding: 0vh 0vw 1vh 0vw;
    }
  }
}

/** DESKTOP VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: [line-0]15vw [line-1]22.5vw [line-2]25vw [line-3]22.5vw [line-4]15vw [line-5];
    grid-template-rows: [row-0]3vh [row-1]5vh [row-2]5vh [row-3]5vh [row-4]5vh [row-5]5vh [row-6];
    margin-top: 10vh;

    div {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-6;
      background-color: orange; // REFLECT THEME OF BEES //
      clip-path: polygon(25% 0, 75% 0, 100% 70%, 100% 100%, 0 100%, 0 70%); // HONEYCOMB SHAPE FOR FOOTER //
      z-index: -1;
      height: 30vh;
      width: 100vw;
      justify-self: start;
      opacity: 0.25;
    }

    h4:nth-of-type(1) { // HEADING FOR OPENING TIMES //
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
    }

    h4:nth-of-type(2) { // HEADING FOR EMAIL ADDRESS //
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: center;
    }

    h4:nth-of-type(3) { // HEADING FOR CONTACT NUMBER //
      grid-column: line-2 / line-3;
      grid-row: row-3 / row-4;
      text-align: center;
    }

    h4:nth-of-type(4) { // HEADING FOR ADDRESS //
      grid-column: line-3 / line-4;
      grid-row: row-2 / row-3;
      text-align: right;
    }

    p:nth-of-type(1) { // TEXT FOR OPENING TIMES //
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-6;
    }

    p:nth-of-type(2) { // TEXT FOR EMAIL ADDRESS //
      grid-column: line-2 / line-3;
      grid-row: row-2 / row-3;
      text-align: center;
    }

    p:nth-of-type(3) { // TEXT FOR CONTACT NUMBER //
      grid-column: line-2 / line-3;
      grid-row: row-4 / row-5;
      text-align: center;
    }

    p:nth-of-type(4) { // TEXT FOR ADDRESS //
      grid-column: line-3 / line-4;
      grid-row: row-3 / row-6;
      text-align: right;
    }
  }
}
