/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 768 PIXELS **/
@media all and (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: [line-0]50vw [line-1]50vw [line-2];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5];

    // IMAGE OF LOGO //
    img {
      &:nth-of-type(1) {
        grid-column: line-0 / line-2;
        grid-row: row-0 / row-1;
        width: 50vw;
        height: auto;
        justify-self: center;
        background-color: transparent;
      }

      // IMAGE NOT VISIBLE //
      &:nth-of-type(2) {
        width: 0;
        height: 0;
      }
    }

    // MAIN TITLE/HEADING //
    h1 {
      grid-column: line-0 / line-2;
      grid-row: row-1 / row-2;
      text-align: center;
      font-size: 40px;
    }

    // SLOGAN //
    h2 {
      grid-column: line-0 / line-2;
      grid-row: row-2 / row-3;
      text-align: center;
      font-size: 30px;
      padding: 0;
    }

    p {
      &:nth-of-type(1) { // TEXT NOT VISIBLE //
        display: none;
      }

      &:nth-of-type(2) { // TEXT NOT VISIBLE //
        display: none;
      }

      &:nth-of-type(3) {
        text-align: center;
        padding: 0vh 15vw;
        grid-column: line-0 / line-2;
        grid-row: row-3 / row-4;
      }
    }

    // IMAGE OF HAMBURGER MENU FOR DROPDOWN MENU ON MOBILE SITE //
    img.menu {
      grid-column: line-0 / line-2;
      grid-row: row-0 / row-1;
      height: 10vh;
      width: auto;
      justify-self: end;
      background-color: transparent;
    }

    // NAVIGATION MENU FOR MOBILE SITE //
    nav.mobile {
      grid-column: line-0 / line-2;
      grid-row: row-0 / row-1;
      position: relative;
      display: inline-block;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        font-size: 24px;
      }
    }

    // DROPDOWN CONTENT STYLING WHEN MENU IS CLICKED //
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #FAD24C;
      width: 100%;
      height: 32vh;
      overflow: auto;
      border-top: 2vh solid orange;
      border-bottom: 2vh solid orange;
      z-index: 1;
    }

    // STYLING FOR RELEVANT CLICKABLE LINKS WHEN MENU IS CLICKED //
    .dropdown-content a {
      color: #4A3B34;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: 'Montserrat', sans-serif;
    }

    .show {
      display: block;
    }

    // NAVIGATION MENU FOR DESKTOP (HORIZONTAL) NOT VISIBLE //
    nav.desktop {
      display: none;
    }

    // STYLING FOR BOTH BUTTONS ON HEADER //
    button {
      width: 80%;
      justify-self: center;
      padding: 16px;
      font-family: 'Montserrat';
      font-size: 18px;
      background-color: orange;
      color: black;
      border: none;
      border-radius: 4px;
      &:nth-child(odd) {
        grid-column: line-0 / line-1;
        grid-row: row-4 / row-5;
      }
      &:nth-child(even) {
        grid-column: line-1 / line-2;
        grid-row: row-4 / row-5;
      }
    }
  }
}

/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH IS MINIMUM 769 PIXELS **/
@media all and (min-width: 769px) {
  header {
    display: grid;
    grid-template-columns: [line-0]12vw [line-1]2vw [line-2]15vw [line-3]15vw [line-4]12vw [line-5]21vw [line-6]21vw [line-7];
    grid-template-rows: [row-0]10vh [row-1]10vh [row-2]auto [row-3] auto [row-4]auto [row-5]auto [row-6];
    margin-left: 2vw;

    // MAIN TITLE/HEADING //
    h1 {
      grid-column: line-2 / line-5;
      grid-row: row-0 / row-2;
      align-self: center;
    }

    // SLOGAN //
    h2 {
      grid-column: line-2 / line-4;
      grid-row: row-2 / row-3;
    }

    p {
      font-family: 'Hind'; // MAIN FONT FOR PARAGRAPH //

      &:nth-of-type(1) {
        grid-column: line-5 / line-6;
        grid-row: row-0 / row-1;
        text-align: center;
        align-self: end;
        font-size: 14px;
        padding-bottom: 10px;
      }

      &:nth-of-type(2) {
        grid-column: line-6 / line-7;
        grid-row: row-0 / row-1;
        text-align: center;
        align-self: end;
        font-size: 14px;
        padding-bottom: 10px;
      }

      &:nth-of-type(3) {
        grid-column: line-2 / line-4;
        grid-row: row-3 / row-4;
        font-size: 22px;
      }
    }

    // IMAGE OF LOGO //
    img {
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-2;
      width: 100%;
      height: auto;
      place-self: center;
      background-color: transparent;
    }

    // IMAGE OF HAMBURGER MENU NOT VISIBLE //
    img.menu {
      display: none;
    }

    // NAVIGATION MENU FOR MOBILE SITE NOT VISIBLE //
    nav.mobile {
      display: none;
    }

    // HORIZONTAL NAVIGATION MENU BAR IS VISIBLE ON DESKTOP VERSION //
    nav.desktop {
      grid-column: line-5 / line-7;
      grid-row: row-1 / row-2;
      align-self: start;

      // NAVIGATION BAR STYLING //
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'Montserrat';
        font-size: 16px;
      }

      li {
        display: inline;
        a {
          display: inline-block;
          color: black;
          text-decoration: none;
          padding: 0px 10px;
          &:last-child {
            margin-right: 2vw;
          }
        }
      }
    }

    // MAIN IMAGE IN THE HEADER FOR HOME PAGE //
    img.home {
      clip-path: polygon(25% 0, 100% 0, 100% 90%, 90% 100%, 45% 100%, 0 40%); // HONEYCOMB SHAPED //
      height: 100vh;
      width: 69vw;
      justify-self: end;
      grid-column: line-3 / line-7;
      grid-row: row-0 / row-6;
      z-index: -1;
      background-color: #FAD24C;
    }

    // MAIN IMAGE IN THE HEADER FOR ALL OTHER PAGES (EXCLUDES HOME PAGE) //
    img.other {
      clip-path: polygon(25% 0, 100% 0, 100% 90%, 90% 100%, 45% 100%, 0 40%); // HONEYCOMB SHAPED //
      height: 100%;
      width: 50vw;
      justify-self: end;
      grid-column: line-3 / line-7;
      grid-row: row-0 / row-6;
      z-index: -1;
      opacity: 0.5;
    }

    // STYLING FOR BOTH BUTTONS IN THE HEADER //
    button {
      width: 80%;
      justify-self: start;
      padding: 16px;
      font-family: 'Montserrat';
      font-size: 18px;
      background-color: orange;
      color: black;
      border: none;
      border-radius: 4px;
      &:nth-child(odd) {
        grid-column: line-2 / line-3;
        grid-row: row-4 / row-5;
      }
      &:nth-child(even) {
        grid-column: line-3 / line-4;
        grid-row: row-4 / row-5;
      }
    }
  }
}
