/** MOBILE VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  // FIRST SECTION - CLASS: HOME //
  section.home {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7];
    margin-top: 2vh;

    // IMAGES ON HOME PAGE //
    img {
      &:nth-of-type(1) {
        justify-self: center;
        grid-column: line-0 / line-1;
        grid-row: row-0 / row-1;
        width: 60vw;
        height: auto;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
      }

      &:nth-of-type(2) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }

      &:nth-of-type(3) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }

      &:nth-of-type(4) { // IMAGE NOT VISIBLE //
        width: 0;
        height: 0;
      }
    }

    // HEADINGS WITHIN HOME SECTION ON HOME PAGE //
    h3 {
      grid-column: line-0 / line-1;
      text-align: center;

      &:nth-of-type(1) { // GRID ROW LOCATION //
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) { // GRID ROW LOCATION //
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(3) { // GRID ROW LOCATION //
        grid-row: row-5 / row-6;
      }
    }

    // PARAGRAPHS OF TEXT WITHIN HOME SECTION ON HOME PAGE //
    p {
      grid-column: line-0 / line-1;
      text-align: center;
      padding: 0vh 15vw;

      &:nth-of-type(1) { // GRID ROW LOCATION //
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) { // GRID ROW LOCATION //
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(3) { // GRID ROW LOCATION //
        grid-row: row-6 / row-7;
      }
    }
  }

  // SECOND SECTION - CLASS: SERVICES //
  section.services {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto [row-8];
    margin-top: 2vh;

    // HEADINGS WITHIN SERVICES SECTION ON HOME PAGE //
    h3 {
      text-align: center;
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-1;
    }

    // HEADINGS WITHIN SERVICES SECTION ON HOME PAGE //
    h4 {
      text-align: center;
      grid-column: line-0 / line-1;

      &:nth-of-type(1) {
        grid-row: row-2 / row-3; // GRID ROW LOCATION //
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5; // GRID ROW LOCATION //
      }

      &:nth-of-type(3) {
        grid-row: row-6 / row-7; // GRID ROW LOCATION //
      }
    }

    // PARAGRAPHS WITHIN SERVICES SECTION ON HOME PAGE //
    p {
      text-align: center;
      grid-column: line-0 / line-1;
      padding: 0vh 15vw;

      &:nth-of-type(1) {
        grid-row: row-1 / row-2; // GRID ROW LOCATION //
      }

      &:nth-of-type(2) {
        grid-row: row-3 / row-4; // GRID ROW LOCATION //
      }

      &:nth-of-type(3) {
        grid-row: row-5 / row-6; // GRID ROW LOCATION //
      }

      &:nth-of-type(4) {
        grid-row: row-7 / row-8; // GRID ROW LOCATION //
      }
    }
  }
}

/** DESKTOP VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  // FIRST SECTION - CLASS: HOME //
  section.home {
    display: grid;
    grid-template-columns: [line-1]30vw [line-2]8vw [line-3]30vw [line-4];
    grid-template-rows: [row-1]auto [row-2]auto [row-3]10vh [row-4]auto [row-5]auto [row-6]10vh [row-7]auto [row-8]auto [row-9];
    justify-content: center; // CSS GRID CENTRALISED //
    margin-top: 10vh;

    // IMAGES PRESERVED QUALITY //
    img {
      object-fit: cover;

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-3;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
        width: 28vw;
        height: 40vh;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-4 / row-6;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
        width: 28vw;
        height: 40vh;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-2;
        grid-row: row-7 / row-9;
        clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
        width: 28vw;
        height: 40vh;
      }
    }

    // HEADINGS WITHIN HOME SECTION ON HOME PAGE //
    h3 {
      align-self: end;

      &:nth-of-type(1) {
        grid-column: line-3 / line-4;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-4 / row-5;
        text-align: right;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-7 / row-8;
      }
    }

    // PARAGRAPHS WITHIN HOME SECTION ON HOME PAGE //
    p {
      &:nth-of-type(1) {
        grid-column: line-3 / line-4;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-5 / row-6;
        text-align: right;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-8 / row-9;
      }
    }
  }

  // SECOND SECTION - CLASS: SERVICES //
  section.services {
    display: grid;
    grid-template-columns: [line-1]25vw [line-2]25vw [line-3]25vw [line-4];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]3vh [row-3]auto [row-4]auto [row-5];
    justify-content: center;
    margin-top: 10vh;

    // HEADINGS WITHIN SERVICES SECTION ON HOME PAGE //
    h3 {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-1;
      text-align: center;
    }

    // HEADINGS WITHIN SERVICES SECTION ON HOME PAGE //
    h4 {
      text-align: center;
      margin: 0;

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(3) {
        grid-column: line-3 / line-4;
        grid-row: row-3 / row-4;
      }
    }

    // PARAGRAPHS WITHIN SERVICES SECTION ON HOME PAGE //
    p {
      text-align: center;
      padding: 0 1.5vw;

      &:nth-of-type(1) {
        grid-column: line-1 / line-4;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(3) {
        grid-column: line-2 / line-3;
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(4) {
        grid-column: line-3 / line-4;
        grid-row: row-4 / row-5;
      }
    }
  }

  // ANIMATION ON HOME SCREEN //
  .element {
    height: 50px;
    width: 50px;
    background-color: red;
    animation: nudge 4s linear infinite alternate;
    border-radius: 100%;
    z-index: -1;
  }

  // ANIMATION KEYFRAMES //
  // IMAGE TRANSLATES FROM POINT A TO POINT B //
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, -90px);
    }
    100% {
      transform: translate(200px, 0);
    }
  }
}
