/** MOBILE VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  // FIRST SECTION - CLASS: TEAM //
  section.team {
    display: grid;
    grid-template-columns: [line-0]100vw [line-1];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto // First 2 team members
                        [row-7]auto [row-8]auto [row-9]auto [row-10]auto [row-11]auto [row-12]auto // Middle 2 team members
                        [row-13]auto [row-14]auto [row-15]auto [row-16]auto [row-17]auto [row-18]; // Last 2 team members

    // IMAGES FOR EACH TEAM MEMBER //
    // SAME CODING FOR ALL SIX //
    img {
      width: 60vw;
      height: 60vw;
      justify-self: center;
      grid-column: line-0 / line-1;
      clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%); // HONEYCOMB SHAPED //
      object-fit: cover; // PRESERVES QUALITY //

      &:nth-of-type(1) {
        grid-row: row-0 / row-1; // GRID ROW LOCATION //
      }

      &:nth-of-type(2) {
        grid-row: row-3 / row-4; // GRID ROW LOCATION //
      }

      &:nth-of-type(3) {
        grid-row: row-6 / row-7; // GRID ROW LOCATION //
      }

      &:nth-of-type(4) {
        grid-row: row-9 / row-10; // GRID ROW LOCATION //
      }

      &:nth-of-type(5) {
        grid-row: row-12 / row-13; // GRID ROW LOCATION //
      }

      &:nth-of-type(6) {
        grid-row: row-15 / row-16; // GRID ROW LOCATION //
      }
    }

    // HEADINGS FOR EACH TEAM MEMBER //
    h3 {
      text-align: center;
      grid-column: line-0 / line-1;

      &:nth-of-type(1) {
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(3) {
        grid-row: row-7 / row-8;
      }

      &:nth-of-type(4) {
        grid-row: row-10 / row-11;
      }

      &:nth-of-type(5) {
        grid-row: row-13 / row-14;
      }

      &:nth-of-type(6) {
        grid-row: row-16 / row-17;
      }
    }

    // TEXT FOR EACH TEAM MEMBER //
    p {
      text-align: center;
      grid-column: line-0 / line-1;
      margin-top: 0;

      &:nth-of-type(1) {
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(3) {
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(4) {
        grid-row: row-11 / row-12;
      }

      &:nth-of-type(5) {
        grid-row: row-14 / row-15;
      }

      &:nth-of-type(6) {
        grid-row: row-17 / row-18;
      }
    }
  }
}

/** DESKTOP VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  // FIRST SECTION - CLASS: TEAM //
  section.team {
    display: grid;
    grid-template-columns: [line-0]23vw [line-1]22vw [line-2]23vw [line-3];
    grid-template-rows: [row-1]15vh [row-2]10vh [row-3]15vh [row-4]10vh [row-5]15vh [row-6]5vh // First 2 team members
                        [row-7]15vh [row-8]10vh [row-9]15vh [row-10]10vh [row-11]15vh [row-12]5vh // Middle 2 team members
                        [row-13]15vh [row-14]10vh [row-15]15vh [row-16]10vh [row-17]15vh [row-18]; // Last 2 team members
    justify-content: center;
    margin-top: 10vh;

    // IMAGES OF EACH TEAM MEMBER //
    // DIFFERENT CRITERIA FOR ALL SIX //
    img {
      justify-self: center;
      object-fit: cover; // PRESERVE IMAGE QUALITY //

      &:nth-of-type(1) { // ANDREW DAVIES //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-0 / line-1;
        grid-row: row-1 / row-4;
        width: 20vw;
        height: 40vh;
      }

      &:nth-of-type(2) { // VITTORIA LUONI //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-6;
        width: 20vw;
        height: 40vh;
      }

      &:nth-of-type(3) { // JOHN MACKFIELD //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-0 / line-1;
        grid-row: row-7 / row-10;
        width: 20vw;
        height: 40vh;
      }

      &:nth-of-type(4) { // SEB WILLIAMS //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-2 / line-3;
        grid-row: row-9 / row-12;
        width: 20vw;
        height: 40vh;
      }

      &:nth-of-type(5) { // TRACEY FOTHER-DUNLEAVY //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-0 / line-1;
        grid-row: row-13 / row-16;
        width: 20vw;
        height: 40vh;
      }

      &:nth-of-type(6) { // ROSIE THE DOG //
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // HONEYCOMB SHAPED //
        grid-column: line-2 / line-3;
        grid-row: row-15 / row-18;
        width: 20vw;
        height: 40vh;
      }
    }

    h3:nth-of-type(1) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      margin: 0;
      padding: 0;
      align-self: end;
    }

    h3:nth-of-type(2) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: start;
    }

    h3:nth-of-type(3) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-7 / row-8;
      margin: 0;
      padding: 0;
      align-self: end;
    }

    h3:nth-of-type(4) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-11 / row-12;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: start;
    }

    h3:nth-of-type(5) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-3;
      grid-row: row-13 / row-14;
      margin: 0;
      padding: 0;
      align-self: end;
    }

    h3:nth-of-type(6) { // HEADING FOR EACH DIFFERENT TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-17 / row-18;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: start;
    }

    p:nth-of-type(1) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      margin: 0;
      padding: 0;
      align-self: start;
    }

    p:nth-of-type(2) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: end;
    }

    p:nth-of-type(3) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-8 / row-9;
      margin: 0;
      padding: 0;
      align-self: start;
    }

    p:nth-of-type(4) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-10 / row-11;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: end;
    }

    p:nth-of-type(5) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-14 / row-15;
      margin: 0;
      padding: 0;
      align-self: start;
    }

    p:nth-of-type(6) { // TEXT STYLING DIFFERENT FOR EACH TEAM MEMBER //
      grid-column: line-1 / line-2;
      grid-row: row-16 / row-17;
      margin: 0;
      padding: 0;
      text-align: right;
      align-self: end;
    }
  }
}
