h1 {
  font-size: 60px;
  font-family: "Montserrat";
}

h2 {
  padding-top: 8vh;
  font-size: 40px;
  margin: 0;
  font-family: "Montserrat";
}

h3 {
  font-family: "Montserrat";
  font-size: 28px;
  margin: 0;
}

h4 {
  font-family: "Montserrat";
}

p {
  font-family: "Hind";
}

/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 768 PIXELS **/
@media all and (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: [line-0] 50vw [line-1] 50vw [line-2];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5];
  }
  header img:nth-of-type(1) {
    grid-column: line-0/line-2;
    grid-row: row-0/row-1;
    width: 50vw;
    height: auto;
    justify-self: center;
    background-color: transparent;
  }
  header img:nth-of-type(2) {
    width: 0;
    height: 0;
  }
  header h1 {
    grid-column: line-0/line-2;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 40px;
  }
  header h2 {
    grid-column: line-0/line-2;
    grid-row: row-2/row-3;
    text-align: center;
    font-size: 30px;
    padding: 0;
  }
  header p:nth-of-type(1) {
    display: none;
  }
  header p:nth-of-type(2) {
    display: none;
  }
  header p:nth-of-type(3) {
    text-align: center;
    padding: 0vh 15vw;
    grid-column: line-0/line-2;
    grid-row: row-3/row-4;
  }
  header img.menu {
    grid-column: line-0/line-2;
    grid-row: row-0/row-1;
    height: 10vh;
    width: auto;
    justify-self: end;
    background-color: transparent;
  }
  header nav.mobile {
    grid-column: line-0/line-2;
    grid-row: row-0/row-1;
    position: relative;
    display: inline-block;
  }
  header nav.mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
  }
  header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAD24C;
    width: 100%;
    height: 32vh;
    overflow: auto;
    border-top: 2vh solid orange;
    border-bottom: 2vh solid orange;
    z-index: 1;
  }
  header .dropdown-content a {
    color: #4A3B34;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Montserrat", sans-serif;
  }
  header .show {
    display: block;
  }
  header nav.desktop {
    display: none;
  }
  header button {
    width: 80%;
    justify-self: center;
    padding: 16px;
    font-family: "Montserrat";
    font-size: 18px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
  }
  header button:nth-child(odd) {
    grid-column: line-0/line-1;
    grid-row: row-4/row-5;
  }
  header button:nth-child(even) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
}
/** MOBILE VERSION OF HEADER **/
/** SCREEN DEVICE WIDTH IS MINIMUM 769 PIXELS **/
@media all and (min-width: 769px) {
  header {
    display: grid;
    grid-template-columns: [line-0] 12vw [line-1] 2vw [line-2] 15vw [line-3] 15vw [line-4] 12vw [line-5] 21vw [line-6] 21vw [line-7];
    grid-template-rows: [row-0] 10vh [row-1] 10vh [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6];
    margin-left: 2vw;
  }
  header h1 {
    grid-column: line-2/line-5;
    grid-row: row-0/row-2;
    align-self: center;
  }
  header h2 {
    grid-column: line-2/line-4;
    grid-row: row-2/row-3;
  }
  header p {
    font-family: "Hind";
  }
  header p:nth-of-type(1) {
    grid-column: line-5/line-6;
    grid-row: row-0/row-1;
    text-align: center;
    align-self: end;
    font-size: 14px;
    padding-bottom: 10px;
  }
  header p:nth-of-type(2) {
    grid-column: line-6/line-7;
    grid-row: row-0/row-1;
    text-align: center;
    align-self: end;
    font-size: 14px;
    padding-bottom: 10px;
  }
  header p:nth-of-type(3) {
    grid-column: line-2/line-4;
    grid-row: row-3/row-4;
    font-size: 22px;
  }
  header img {
    grid-column: line-0/line-1;
    grid-row: row-0/row-2;
    width: 100%;
    height: auto;
    place-self: center;
    background-color: transparent;
  }
  header img.menu {
    display: none;
  }
  header nav.mobile {
    display: none;
  }
  header nav.desktop {
    grid-column: line-5/line-7;
    grid-row: row-1/row-2;
    align-self: start;
  }
  header nav.desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    font-family: "Montserrat";
    font-size: 16px;
  }
  header nav.desktop li {
    display: inline;
  }
  header nav.desktop li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
  }
  header nav.desktop li a:last-child {
    margin-right: 2vw;
  }
  header img.home {
    clip-path: polygon(25% 0, 100% 0, 100% 90%, 90% 100%, 45% 100%, 0 40%);
    height: 100vh;
    width: 69vw;
    justify-self: end;
    grid-column: line-3/line-7;
    grid-row: row-0/row-6;
    z-index: -1;
    background-color: #FAD24C;
  }
  header img.other {
    clip-path: polygon(25% 0, 100% 0, 100% 90%, 90% 100%, 45% 100%, 0 40%);
    height: 100%;
    width: 50vw;
    justify-self: end;
    grid-column: line-3/line-7;
    grid-row: row-0/row-6;
    z-index: -1;
    opacity: 0.5;
  }
  header button {
    width: 80%;
    justify-self: start;
    padding: 16px;
    font-family: "Montserrat";
    font-size: 18px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
  }
  header button:nth-child(odd) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-5;
  }
  header button:nth-child(even) {
    grid-column: line-3/line-4;
    grid-row: row-4/row-5;
  }
}
/** DESKTOP VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH IS MINIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  footer {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
  }
  footer h4 {
    text-align: center;
    grid-column: line-0/line-1;
    margin: 0;
    padding: 2vh 0vw 0.5vh 0vw;
  }
  footer p {
    text-align: center;
    grid-column: line-0/line-1;
    margin: 0;
    padding: 0vh 0vw 1vh 0vw;
  }
}
/** DESKTOP VERSION OF FOOTER **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: [line-0] 15vw [line-1] 22.5vw [line-2] 25vw [line-3] 22.5vw [line-4] 15vw [line-5];
    grid-template-rows: [row-0] 3vh [row-1] 5vh [row-2] 5vh [row-3] 5vh [row-4] 5vh [row-5] 5vh [row-6];
    margin-top: 10vh;
  }
  footer div {
    grid-column: line-0/line-3;
    grid-row: row-0/row-6;
    background-color: orange;
    clip-path: polygon(25% 0, 75% 0, 100% 70%, 100% 100%, 0 100%, 0 70%);
    z-index: -1;
    height: 30vh;
    width: 100vw;
    justify-self: start;
    opacity: 0.25;
  }
  footer h4:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  footer h4:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: center;
  }
  footer h4:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    text-align: center;
  }
  footer h4:nth-of-type(4) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-3;
    text-align: right;
  }
  footer p:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-6;
  }
  footer p:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    text-align: center;
  }
  footer p:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-5;
    text-align: center;
  }
  footer p:nth-of-type(4) {
    grid-column: line-3/line-4;
    grid-row: row-3/row-6;
    text-align: right;
  }
}
/** MOBILE VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  section.home {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7];
    margin-top: 2vh;
  }
  section.home img:nth-of-type(1) {
    justify-self: center;
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    width: 60vw;
    height: auto;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
  }
  section.home img:nth-of-type(2) {
    width: 0;
    height: 0;
  }
  section.home img:nth-of-type(3) {
    width: 0;
    height: 0;
  }
  section.home img:nth-of-type(4) {
    width: 0;
    height: 0;
  }
  section.home h3 {
    grid-column: line-0/line-1;
    text-align: center;
  }
  section.home h3:nth-of-type(1) {
    grid-row: row-1/row-2;
  }
  section.home h3:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  section.home h3:nth-of-type(3) {
    grid-row: row-5/row-6;
  }
  section.home p {
    grid-column: line-0/line-1;
    text-align: center;
    padding: 0vh 15vw;
  }
  section.home p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  section.home p:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.home p:nth-of-type(3) {
    grid-row: row-6/row-7;
  }

  section.services {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8];
    margin-top: 2vh;
  }
  section.services h3 {
    text-align: center;
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
  }
  section.services h4 {
    text-align: center;
    grid-column: line-0/line-1;
  }
  section.services h4:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  section.services h4:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.services h4:nth-of-type(3) {
    grid-row: row-6/row-7;
  }
  section.services p {
    text-align: center;
    grid-column: line-0/line-1;
    padding: 0vh 15vw;
  }
  section.services p:nth-of-type(1) {
    grid-row: row-1/row-2;
  }
  section.services p:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  section.services p:nth-of-type(3) {
    grid-row: row-5/row-6;
  }
  section.services p:nth-of-type(4) {
    grid-row: row-7/row-8;
  }
}
/** DESKTOP VERSION OF HOME PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section.home {
    display: grid;
    grid-template-columns: [line-1] 30vw [line-2] 8vw [line-3] 30vw [line-4];
    grid-template-rows: [row-1] auto [row-2] auto [row-3] 10vh [row-4] auto [row-5] auto [row-6] 10vh [row-7] auto [row-8] auto [row-9];
    justify-content: center;
    margin-top: 10vh;
  }
  section.home img {
    object-fit: cover;
  }
  section.home img:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-3;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.home img:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-4/row-6;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.home img:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-7/row-9;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.home h3 {
    align-self: end;
  }
  section.home h3:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-1/row-2;
  }
  section.home h3:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    text-align: right;
  }
  section.home h3:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-7/row-8;
  }
  section.home p:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-3;
  }
  section.home p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
    text-align: right;
  }
  section.home p:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-8/row-9;
  }

  section.services {
    display: grid;
    grid-template-columns: [line-1] 25vw [line-2] 25vw [line-3] 25vw [line-4];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] 3vh [row-3] auto [row-4] auto [row-5];
    justify-content: center;
    margin-top: 10vh;
  }
  section.services h3 {
    grid-column: line-1/line-4;
    grid-row: row-0/row-1;
    text-align: center;
  }
  section.services h4 {
    text-align: center;
    margin: 0;
  }
  section.services h4:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
  }
  section.services h4:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
  }
  section.services h4:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-3/row-4;
  }
  section.services p {
    text-align: center;
    padding: 0 1.5vw;
  }
  section.services p:nth-of-type(1) {
    grid-column: line-1/line-4;
    grid-row: row-1/row-2;
  }
  section.services p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
  section.services p:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-5;
  }
  section.services p:nth-of-type(4) {
    grid-column: line-3/line-4;
    grid-row: row-4/row-5;
  }

  .element {
    height: 50px;
    width: 50px;
    background-color: red;
    animation: nudge 4s linear infinite alternate;
    border-radius: 100%;
    z-index: -1;
  }

  @keyframes nudge {
    0%, 100% {
      transform: translate(0, -90px);
    }
    100% {
      transform: translate(200px, 0);
    }
  }
}
/** MOBILE VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  section.about {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4];
    margin-top: 2vh;
  }
  section.about img {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    width: 60vw;
    height: auto;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    justify-self: center;
  }
  section.about h2 {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  section.about h3 {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
    text-align: center;
    margin: 0;
  }
  section.about p {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
    text-align: center;
    padding: 0vh 15vw;
  }

  section.gallery {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8];
  }
  section.gallery h2 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    text-align: center;
  }
  section.gallery img {
    grid-column: line-0/line-1;
    width: 60vw;
    height: auto;
    margin: 2vh 0vw;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    justify-self: center;
  }
  section.gallery img:nth-of-type(1) {
    grid-row: row-1/row-2;
  }
  section.gallery img:nth-of-type(2) {
    grid-row: row-2/row-3;
  }
  section.gallery img:nth-of-type(3) {
    grid-row: row-3/row-4;
  }
  section.gallery img:nth-of-type(4) {
    grid-row: row-4/row-5;
  }
  section.gallery img:nth-of-type(5) {
    grid-row: row-5/row-6;
  }
  section.gallery img:nth-of-type(6) {
    grid-row: row-6/row-7;
  }
  section.gallery img:nth-of-type(7) {
    width: 0;
    height: 0;
  }
  section.gallery img:nth-of-type(8) {
    width: 0;
    height: 0;
  }
  section.gallery img:nth-of-type(9) {
    width: 0;
    height: 0;
  }
}
/** DESKTOP VERSION OF ABOUT US PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section.about {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 12vw [line-2] 35vw [line-3] 13vw [line-4];
    grid-template-rows: [row-1] 15vh [row-2] auto [row-3] auto [row-4];
    margin-top: 10vh;
  }
  section.about h2 {
    grid-column: line-1/line-3;
    grid-row: row-1/row-2;
    text-align: right;
    padding: 0;
    align-self: end;
  }
  section.about h3 {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    text-align: right;
    align-self: end;
  }
  section.about h3 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  section.about img {
    clip-path: polygon(20% 0, 60% 0, 100% 50%, 60% 100%, 20% 100%, 0 80%, 0 20%);
    height: 65vh;
    width: 50vw;
    justify-self: start;
    grid-column: line-0/line-2;
    grid-row: row-1/row-4;
    z-index: -1;
  }
  section.about p {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    text-align: right;
    align-self: start;
    font-size: 18px;
  }

  section.gallery {
    display: grid;
    grid-template-columns: [line-1] 20vw [line-2] 20vw [line-3] 20vw [line-5];
    grid-template-rows: [row-0] auto [row-1] 25vh [row-2] 25vh [row-3] 25vh [row-4] 25vh [row-5];
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
    justify-content: center;
    margin-top: 10vh;
  }
  section.gallery h2 {
    grid-column: line-1/line-5;
    grid-row: row-0/row-1;
    text-align: center;
  }
  section.gallery img {
    height: 100%;
    width: 100%;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    object-fit: cover;
  }
}
/** MOBILE VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  section.team {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] auto [row-14] auto [row-15] auto [row-16] auto [row-17] auto [row-18];
  }
  section.team img {
    width: 60vw;
    height: 60vw;
    justify-self: center;
    grid-column: line-0/line-1;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    object-fit: cover;
  }
  section.team img:nth-of-type(1) {
    grid-row: row-0/row-1;
  }
  section.team img:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  section.team img:nth-of-type(3) {
    grid-row: row-6/row-7;
  }
  section.team img:nth-of-type(4) {
    grid-row: row-9/row-10;
  }
  section.team img:nth-of-type(5) {
    grid-row: row-12/row-13;
  }
  section.team img:nth-of-type(6) {
    grid-row: row-15/row-16;
  }
  section.team h3 {
    text-align: center;
    grid-column: line-0/line-1;
  }
  section.team h3:nth-of-type(1) {
    grid-row: row-1/row-2;
  }
  section.team h3:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.team h3:nth-of-type(3) {
    grid-row: row-7/row-8;
  }
  section.team h3:nth-of-type(4) {
    grid-row: row-10/row-11;
  }
  section.team h3:nth-of-type(5) {
    grid-row: row-13/row-14;
  }
  section.team h3:nth-of-type(6) {
    grid-row: row-16/row-17;
  }
  section.team p {
    text-align: center;
    grid-column: line-0/line-1;
    margin-top: 0;
  }
  section.team p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  section.team p:nth-of-type(2) {
    grid-row: row-5/row-6;
  }
  section.team p:nth-of-type(3) {
    grid-row: row-8/row-9;
  }
  section.team p:nth-of-type(4) {
    grid-row: row-11/row-12;
  }
  section.team p:nth-of-type(5) {
    grid-row: row-14/row-15;
  }
  section.team p:nth-of-type(6) {
    grid-row: row-17/row-18;
  }
}
/** DESKTOP VERSION OF MEET THE TEAM PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section.team {
    display: grid;
    grid-template-columns: [line-0] 23vw [line-1] 22vw [line-2] 23vw [line-3];
    grid-template-rows: [row-1] 15vh [row-2] 10vh [row-3] 15vh [row-4] 10vh [row-5] 15vh [row-6] 5vh [row-7] 15vh [row-8] 10vh [row-9] 15vh [row-10] 10vh [row-11] 15vh [row-12] 5vh [row-13] 15vh [row-14] 10vh [row-15] 15vh [row-16] 10vh [row-17] 15vh [row-18];
    justify-content: center;
    margin-top: 10vh;
  }
  section.team img {
    justify-self: center;
    object-fit: cover;
  }
  section.team img:nth-of-type(1) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-0/line-1;
    grid-row: row-1/row-4;
    width: 20vw;
    height: 40vh;
  }
  section.team img:nth-of-type(2) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-2/line-3;
    grid-row: row-3/row-6;
    width: 20vw;
    height: 40vh;
  }
  section.team img:nth-of-type(3) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-0/line-1;
    grid-row: row-7/row-10;
    width: 20vw;
    height: 40vh;
  }
  section.team img:nth-of-type(4) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-2/line-3;
    grid-row: row-9/row-12;
    width: 20vw;
    height: 40vh;
  }
  section.team img:nth-of-type(5) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-0/line-1;
    grid-row: row-13/row-16;
    width: 20vw;
    height: 40vh;
  }
  section.team img:nth-of-type(6) {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: line-2/line-3;
    grid-row: row-15/row-18;
    width: 20vw;
    height: 40vh;
  }
  section.team h3:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    margin: 0;
    padding: 0;
    align-self: end;
  }
  section.team h3:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: start;
  }
  section.team h3:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-7/row-8;
    margin: 0;
    padding: 0;
    align-self: end;
  }
  section.team h3:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-11/row-12;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: start;
  }
  section.team h3:nth-of-type(5) {
    grid-column: line-1/line-3;
    grid-row: row-13/row-14;
    margin: 0;
    padding: 0;
    align-self: end;
  }
  section.team h3:nth-of-type(6) {
    grid-column: line-1/line-2;
    grid-row: row-17/row-18;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: start;
  }
  section.team p:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    margin: 0;
    padding: 0;
    align-self: start;
  }
  section.team p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: end;
  }
  section.team p:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-8/row-9;
    margin: 0;
    padding: 0;
    align-self: start;
  }
  section.team p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-10/row-11;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: end;
  }
  section.team p:nth-of-type(5) {
    grid-column: line-1/line-2;
    grid-row: row-14/row-15;
    margin: 0;
    padding: 0;
    align-self: start;
  }
  section.team p:nth-of-type(6) {
    grid-column: line-1/line-2;
    grid-row: row-16/row-17;
    margin: 0;
    padding: 0;
    text-align: right;
    align-self: end;
  }
}
/** MOBILE VERSION OF EVENTS PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  section.events {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9];
  }
  section.events img {
    width: 60vw;
    height: 60vw;
    justify-self: center;
    grid-column: line-0/line-1;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    object-fit: cover;
  }
  section.events img:nth-of-type(1) {
    grid-row: row-0/row-1;
  }
  section.events img:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  section.events img:nth-of-type(3) {
    grid-row: row-6/row-7;
  }
  section.events h3 {
    text-align: center;
    grid-column: line-0/line-1;
  }
  section.events h3:nth-of-type(1) {
    grid-row: row-1/row-2;
  }
  section.events h3:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.events h3:nth-of-type(3) {
    grid-row: row-7/row-8;
  }
  section.events p {
    text-align: center;
    grid-column: line-0/line-1;
    margin-top: 0;
    padding: 0vh 15vw;
  }
  section.events p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  section.events p:nth-of-type(2) {
    grid-row: row-5/row-6;
  }
  section.events p:nth-of-type(3) {
    grid-row: row-8/row-9;
  }
}
/** DESKTOP VERSION OF EVENTS PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section.events {
    display: grid;
    grid-template-columns: [line-1] 30vw [line-2] 8vw [line-3] 30vw [line-4];
    grid-template-rows: [row-1] auto [row-2] auto [row-3] 10vh [row-4] auto [row-5] auto [row-6] 10vh [row-7] auto [row-8] auto [row-9];
    justify-content: center;
    margin-top: 10vh;
  }
  section.events img {
    object-fit: cover;
  }
  section.events img:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-3;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.events img:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-4/row-6;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.events img:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-7/row-9;
    clip-path: polygon(33.33% 0, 66.67% 0, 100% 50%, 66.67% 100%, 33.33% 100%, 0 50%);
    width: 28vw;
    height: 40vh;
  }
  section.events h3 {
    align-self: end;
  }
  section.events h3:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-1/row-2;
  }
  section.events h3:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    text-align: right;
  }
  section.events h3:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-7/row-8;
  }
  section.events p:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-3;
  }
  section.events p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
    text-align: right;
  }
  section.events p:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-8/row-9;
  }
}
/** MOBILE VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH IS MAXIMUM 999 PIXELS **/
@media all and (max-width: 999px) {
  section.contact {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6];
  }
  section.contact div.open {
    grid-column: line-0/line-1;
    grid-row: row-1/row-3;
    height: 60vw;
    width: 60vw;
    justify-self: center;
    margin-bottom: 2vh;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    z-index: -1;
  }
  section.contact div.location {
    grid-column: line-0/line-1;
    grid-row: row-3/row-5;
    height: 60vw;
    width: 60vw;
    justify-self: center;
    margin-bottom: 2vh;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    z-index: -1;
  }
  section.contact h2 {
    text-align: center;
    grid-column: line-0/line-1;
  }
  section.contact h2:nth-of-type(1) {
    grid-row: row-0/row-1;
  }
  section.contact h2:nth-of-type(2) {
    grid-row: row-1/row-2;
    padding: 0;
    place-self: center;
  }
  section.contact h2:nth-of-type(3) {
    grid-row: row-3/row-4;
    padding: 0;
    place-self: center;
  }
  section.contact p {
    text-align: center;
    grid-column: line-0/line-1;
  }
  section.contact p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  section.contact p:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.contact form {
    grid-column: line-0/line-1;
    grid-row: row-5/row-6;
    justify-self: center;
    text-align: center;
  }
  section.contact form label {
    font-family: "Hind";
    font-size: 26px;
    font-weight: bold;
    padding: 2vh 0vw 0.5vh 0vw;
  }
  section.contact form input[type=text] {
    font-family: "Hind";
    font-size: 20px;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid orange;
    border-radius: 4px;
    box-sizing: border-box;
  }
  section.contact form input[type=submit] {
    font-family: "Hind";
    font-size: 22px;
    font-weight: bold;
    width: 80%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
/** DESKTOP VERSION OF CONTACT US PAGE **/
/** SCREEN DEVICE WIDTH IS MINIMUM 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section.contact {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 10vw [line-2] 25vw [line-3];
    grid-template-rows: [row-1] auto [row-2] auto [row-3] 5vh [row-4] auto [row-5] auto [row-6];
    justify-content: center;
  }
  section.contact h2 {
    text-align: center;
    margin: 0;
    padding: 1vh 0 0 0;
  }
  section.contact h2:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    align-self: center;
  }
  section.contact h2:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
  }
  section.contact h2:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-5;
  }
  section.contact p {
    text-align: center;
    font-size: 20px;
  }
  section.contact p:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
  }
  section.contact p:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-5/row-6;
  }
  section.contact div.open {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    grid-column: line-2/line-3;
    grid-row: row-1/row-3;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  section.contact div.location {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
    grid-column: line-2/line-3;
    grid-row: row-4/row-6;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  section.contact form {
    grid-column: line-0/line-1;
    grid-row: row-2/row-6;
  }
  section.contact form label {
    font-family: "Hind";
    font-size: 26px;
    font-weight: bold;
    padding: 2vh 0;
  }
  section.contact form input[type=text] {
    font-family: "Hind";
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid orange;
    border-radius: 4px;
    box-sizing: border-box;
  }
  section.contact form input[type=submit] {
    font-family: "Hind";
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

div, img {
  background-color: #FAD24C;
}

button a {
  text-decoration: none;
  color: black;
}

@media (min-width: 769px) {
  p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
