$heading-font: 'Montserrat';
$para-font: 'Hind';
$div-colour: #FAD24C;

// INVOLVEMENT OF SASS //
@import "font";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "team";
@import "events";
@import "contact";

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden; // PREVENTS LEFT/RIGHT SCROLLING //
  margin: 0;
  padding: 0;
}

div, img {
  background-color: $div-colour; // LINK TO VARIABLE COLOUR //
}

button {
  a {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 769px) {
  p {
    font-size: 18px; // FONT SIZE SET FOR DEVICES LARGER THAN 768 PIXELS //
  }
}
